
h1 {
  max-width: 640px;
  margin: 20px auto;
}

.leaderboard-title {
  display: flex;
}

h3 {
  margin-right: 15px;
}

button {
  background-color: #fff;
  border: 1px solid;
  box-shadow: 2px 3px;
}

.leaderboard-scores {
  margin-top: 10px;
  border: solid 3px black;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0.5rem;
}

.leaderboard-scores li:nth-child(even) {
  background-color: #eee;
}

section {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  margin: 0 auto;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#name,
#score {
  margin: 10px 0;
  border: solid 3px black;
}

#submit {
  width: 30%;
  display: flex;
}
